{% extends "layout.html.twig" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col {% if edition is not null %}col-xl-4 col-lg-5{% else %}col-xl-10 col-lg-12{% endif %}">
            <div class="card">
                <div class="card-header d-flex justify-content-between d-flex justify-content-between">Vydané edice</div>
                <div class="card-body">
                    {% if magazines|length > 0 %}
                        {% for magazine in magazines %}
                            <div class="list-group-item d-flex justify-content-between">
                                <div class="col-xl-11 col-md-10">
                                <a href="{{ path('app_magazine_edition', {magazine: magazine.id}) }}">
                                    {{ magazine.deadline|date('Y') }}/Ročník{{ magazine.deadline|date('Y') - 2009 }}/Číslo{{ magazine.number }}
                                </a>

                                {% if edition is null %}
                                    - {{ magazine.magazineThema.theme }}
                                    {% if is_granted('ROLE_REDAKTOR') or is_granted('ROLE_SEFREDAKTOR') %}
                                    - {{ magazine.currentState.state }}
                                    {% endif %}
                                {% endif %}
                                      <abbr title="Počet příspěvků v edici: {{ magazine.articles|filter(v => v.currentState.id > 4 and v.currentState.id != 7)|length }}">({{ magazine.articles|filter(v => v.currentState.id > 4 and v.currentState.id != 7)|length }})</abbr>
                                </div>
                            </div>

                        {% endfor %}
                    {% else %}
                    <div class="alert alert-warning">Dosud nebyla vydána žádná edice časopisu.</div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if edition is not null %}
        <div class="col col-xl-6 col-lg-7">
            <div class="card">
                <div class="card-header d-flex justify-content-between d-flex justify-content-between">Články edice: {{ edition.deadline|date('Y') }}/Ročník{{ edition.deadline|date('Y') - 2009 }}/Číslo{{ edition.number }}
                    <a class="btn btn-sm btn-light"
                       title="Zavřít"
                       href="{{ path('app_magazine_edition') }}"><i class="fa fa-times"></i>
                    </a>

                </div>
                <div class="card-body">
                    {% if edition.articles|filter(v => v.currentState.id > 4 and v.currentState.id != 7)|length > 0 %}
                        <div class="list-group">
                            <div class="list-group-item list-group-item-info">
                                <div class="row">
                                    <div class="col-lg-7">
                                        Příspěvek
                                    </div>
                                    <div class="col-lg-5">
                                        Autor
                                    </div>
                                </div>
                            </div>

                        {% for article in edition.articles|filter(v => v.currentState.id > 4 and v.currentState.id != 7) %}
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-7">xcfghsf
                                        {% include 'article/get_article_attachment.html.twig' %}
                                    </div>
                                    <div class="col-lg-5">
                                        {{ article.author.fullNameByName }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                        Nebyly nalezeny žádné příspěvky.
                    {% endif %}
                </div>
        </div>
        {% endif %}

    </div>
{% endblock %}