{% extends "layout.html.twig" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col col-xl-8 col-lg-12">
            <div class="card">
                {{ form_start(form) }}
                    <div class="card-header">Upravujete informace o časopise na úvodní stránce</div>
                    <div class="card-body">
                        {{ form_widget(form.about) }}
                    </div>
                    <div class="card-footer">
                        {{ form_rest(form) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
        {{ include('info_variables.html.twig') }}
    </div>
{% endblock %}
