{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {% if _h2Title %}
        {% set _h2Title = setting.settings.companyName ?? 'Název firmy není dostupný' ~ block('h2Title') %}
    {% else %}
        {% set _h2Title = setting.settings.companyName ?? 'Název firmy není dostupný' %}
    {% endif %}

    <div id="novyFormlModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content">
            </div>
        </div>
    </div>
    {% block menu %}
        {% include "menu.html.twig" %}
    {% endblock %}
    {% block messages %}
        {% for label, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-{{ label }}" style="margin: 1rem 1rem 0 1rem;">
                    {{ message|raw }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
    <div class="table col-sm-10 offset-1 nadpis-content" style="margin-top: 0.7rem">
        <h3>{{ _title }}</h3>
    </div>
    <div class="row justify-content-center">
        <div class="col col-lg-10">
    {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}