<nav class="navbar navbar-expand-lg bg-dark navbar-dark topmenu">
    <a class="navbar-brand" title="Zobrazit domovskou stránku" href="/"> {{ setting.settings.companyName ?? 'Název firmy není dostupný' }} <span class="small">v.0.5.<i>B</i></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
{% if app.user %}
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Organizace</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Příspěvky</a>
                <a class="dropdown-item" href="#">Uživatelé</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item open-form alert-warning" href="#">Přidat něco</a>
            </div>
        </li>
    {% endif %}
    {% if is_granted('ROLE_AUTOR') %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Moje články</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ path('app_article_addarticle') }}">Přidat článek</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('app_article_myarticles') }}">Přehled</a>
            </div>
        </li>
    {% endif %}
    {% if is_granted('ROLE_REDAKTOR') %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Správa uživatelů</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ path('app_user_registereditor') }}">Přidat uživatele</a>
            </div>
        </li>
    {% endif %}
{% endif %}
        </ul>
{% if app.user %}
    <div class="dropdown">
        <button class="btn btn-navbar dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i>   {{ app.user.name }} {{ app.user.surname }}
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="{{ path('logout') }}">Odhlásit se</a>
            <a class="dropdown-item" href="{{ path('app_user_changeprofile') }}">Upravit profil</a>
        </div>
    </div>
{% else%}
    <a href="{{ path('app_user_registerauthor') }}" class="btn btn-navbar"><i class="fa fa-registered"></i>  Registrovat</a>  
    <a href="{{ path('login') }}" class="btn btn-navbar"><i class="fa fa-user-check"></i>  Přihlásit</a>
{% endif %}
    </div>
</nav>
