{% extends 'layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    <div class="row justify-content-center">
        <div class="col col-xl-8 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{% trans %}Informace o článku{% endtrans %}</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                        {{ form_label(form.magazine) }}
                        {{ form_widget(form.magazine) }}
                    </div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="row justify-content-center">
        <div class="col col-xl-8 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{% trans %}Text článku{% endtrans %}</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        {{ form_label(form.attachment) }}
                        {{ form_widget(form.attachment) }}
                        {{ form_help(form.attachment) }}
                    </div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="row justify-content-center">
        <div class="col col-xl-8 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{% trans %}Autoři{% endtrans %}</h5>
                </div>
                <div class="card-body">
                    <div class="form-group row form-group-inlined">
                        <div class="col-md-1 nowrap">
                            {{ form_label(form.degreeBefore) }}
                            {{ form_widget(form.degreeBefore) }}
                        </div>
                        <div class="col-md-4 nowrap">
                            {{ form_label(form.nameCollaborator) }}
                            {{ form_widget(form.nameCollaborator) }}
                        </div>
                        <div class="col-md-1 nowrap">
                            {{ form_label(form.degreeAfter) }}
                            {{ form_widget(form.degreeAfter) }}
                        </div>
                        <div class="col-md-4 nowrap">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="col-md-2 text-right">
                            {{ form_widget(form.addCollaborator) }}
                        </div>
                    </div>

                    {% if article.collaborators|length > 0 %}
                        {% for collaborator in article.collaborators %}
                            {% if collaborator.disabled != true %}
                                <div class="row form-subitem">
                                    <div class="col-md-1">{{ collaborator.degreeBefore }}</div>
                                    <div class="col-md-4">{{ collaborator.nameCollaborator }}</div>
                                    <div class="col-md-1">{{ collaborator.degreeAfter }}</div>
                                    <div class="col-md-4">{{ collaborator.email }}</div>
                                    <div class="col-md-2 text-right">
                                        <a href="#"
                                           class="btn btn-sm btn-warning confirm"
                                           data-confirm-title = "Upravit spoluautora"
                                           data-confirm-text = "Opravdu upravit spoluautora: <b>{{ collaborator.fullName }}</b>?"
                                           data-confirm-url = "{{ path('app_article_modifycollaborator', {collaborator: collaborator.id}) }}"
                                           data-confirm-buttons = '<input class="btn btn-sm btn-danger " type="submit" value="Uložit změny">'
                                           title="Upravit spoluatora"><i class="fa fa-edit"></i> Upravit</a>
                                        <a href="{{ path('app_article_disablecolaborator',{collaborator: collaborator.id}) }}"
                                           class="btn btn-sm btn-danger confirm"
                                           data-confirm-title = "Odstranění"
                                           data-confirm-text = "Opravdu odstranit spoluautora: <b>{{ collaborator.fullName }}</b>?"
                                           title="Smazat spoluautora"><i class="fa fa-trash"></i></a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div><br>

    <div class="row justify-content-center">
        <div class="col col-xl-8 col-lg-12">
            {{ form_widget(form.submit) }}
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('articleAddArticle') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('articleAddArticle') }}
{% endblock %}