{% set showAuthor = showAuthor is defined ? showAuthor : true %}
{% set tableTitle = tableTitle is defined ? tableTitle : 'Články' %}

<div class="row justify-content-center">
    <div class="col col-xl-10 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title float-left">{{ tableTitle }}</h5>
                <div class="float-right">
                    <div class="form-inline my-2 my-lg-0">
                        <label for="#table-page-size">Záznamů na stránce: </label>
                        <select id="table-page-size" class="form-control ml-2 mr-sm-2" data-pagelen-for=".dataTables_filter">
                            <option>100</option>
                            <option>200</option>
                            <option>300</option>
                            <option value="-1" selected>Vše</option>
                        </select>
                        <input class="form-control mr-sm-2" type="search" placeholder="{% trans %}Hledat{% endtrans %}" aria-label="Search" data-search-in=".dataTables_filter">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive dt-hide-filter">
                    <table class="table table-striped datatable_filter">
                        <thead>
                        <tr>
                            <th><i class="fa fa-signature">&nbsp;</i>Název</th>
                            <th><i class="fa fa-flag">&nbsp;</i>Stav</th>
                            <th><i class="fa fa-calendar-alt">&nbsp;</i>Datum vložení</th>
                            {% if showAuthor %}<th><i class="fa fa-user">&nbsp;</i>Autor</th>{% endif %}
                            <th class="datatable-ignore"><i class="fa fa-users">&nbsp;</i>Spoluautoři</th>
                            <th class="datatable-ignore"><i class="fa fa-download">&nbsp;</i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if articles|length > 0 %}
                            {% for article in articles %}
                                <tr>
                                    <td data-sort="{{ article.name }}" data-filter="{{ article.name }}">
                                        <a href="{{ path('show_article_detail', {article: article.id}) }}"><i class="fa fa-search-plus"></i> {{ article.name }}</a>
                                    </td>
                                    <td>
                                        {% if article.hasFilledReviewersStatement %}
                                            Recenze dokončeny
                                        {% else %}
                                            {{ article.currentState.state }}{% if article.currentState.id == 4 %} ({{ article.reviews|length }}x){% endif %}
                                        {% endif %}
                                    </td>
                                    <td data-sort="{{ article.insertDate|date('U') }}"
                                        class="text-center">{{ article.insertDate|date('d.m.Y') }}</td>
                                    {% if showAuthor %}
                                        <td data-sort="{{ article.author.surname }}">{{ article.author.fullNameByName }}</td>
                                    {% endif %}
                                    <td class="col-2">
                                        {% if article.collaborators|length > 0 %}
                                            {% for collaborator in article.collaborators %}
                                                {{ collaborator.fullName }}<br>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if article.currentAttachment is not null %}
                                            <a href="{{ path('app_file_downloadattachment', {fileAttachment: article.currentAttachment.id}) }}"
                                            title="Stáhnout článek"><i class="fa fa-download"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4" class="bg-danger text-center">Nebyl nalezen žádný článek.</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
