{% extends "layout.html.twig" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col col-xl-10 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title float-left">{% trans %}Články{% endtrans %}</h5>
                <div class="float-right">
                    <div class="form-inline my-2 my-lg-0">
                        <label for="#table-page-size">Záznamů na stránce: </label>
                        <select id="table-page-size" class="form-control ml-2 mr-sm-2" data-pagelen-for=".dataTables_filter">
                            <option>100</option>
                            <option>200</option>
                            <option>300</option>
                            <option value="-1" selected>Vše</option>
                        </select>
                        <input class="form-control mr-sm-2" type="search" placeholder="{% trans %}Hledat{% endtrans %}" aria-label="Search" data-search-in=".dataTables_filter">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive dt-hide-filter">
                    <table id="article-list-dt" class="table table-striped datatable_filter">
                        <thead>
                        <tr>
                            <th>Název</th>
                            <th>Vložen</th>
                            <th>Stav</th>
                            <th class="datatable-ignore">Spoluautoři</th>
                            <th class="datatable-ignore col-2">Akce</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if articles|length > 0 %}
                            {% for article in articles %}
                                <tr>
                                    <td>
                                        {% if article.currentAttachment is not null %}
                                        <a href="{{ path('app_file_downloadattachment', {fileAttachment: article.currentAttachment.id}) }}"
                                           title="Stáhnout článek"
                                        >{{ article.name }}</a>
                                        {% else %}
                                            {{ article.name }}
                                        {% endif %}
                                        {% if article.currentAttachment is null %}
                                            <i class="fas fa-exclamation-triangle text-danger ml-1" data-toggle="tooltip" data-placement="right" title="Článek zatím neobsahuje text."></i>
                                        {% elseif article.currentState.id == 1 %}
                                            <i class="fas fa-exclamation-triangle text-warning ml-1" data-toggle="tooltip" data-placement="right" title="Článek ještě není podán."></i>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">{{ article.insertDate|date('d.m.Y') }}</td>
                                    <td class="text-center">{{ article.currentState.state }}</td>
                                    <td >
                                        {% if article.collaborators|length > 0 %}
                                            {% for collaborator in article.collaborators %}
                                                <a href="mailto: {{ collaborator.email }}"
                                                   title="Odelat e-mail spoluautorovi">{{ collaborator.fullName }}</a><br>
                                            {% endfor %}
                                        {% else %}
                                            Neuvedeni
                                        {% endif %}
                                    </td>
                                    <td class="text-right nowrap">
                                        {% if article.currentState.id == 1 %}
                                            <a class="btn btn-sm btn-success"
                                               href="{{ path('app_article_submitarticle', {article: article.id}) }}"
                                               title="Podat článek"><i class="fa fa-check"></i>
                                            </a>
                                        {% endif %}
                                        {#
                                        <a class="btn btn-sm btn-info"
                                           href="#"
                                           title="Zobrazit historii stavů článku"><i class="fa fa-recycle"></i>
                                        </a>
                                        #}
                                        <a class="btn btn-sm btn-warning"
                                           href="{{ path('app_article_modifyarticle', {article: article.id}) }}"
                                           title="Upravit článek"><i class="fa fa-edit"></i> Upravit
                                        </a>
                                        <a class="btn btn-sm btn-danger"
                                           href="#"
                                           title="Odstranit článek"><i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4" class="bg-danger text-center">Nebyl nalezen žádný Vámi odeslaný článek.</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('articleMyArticles') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('articleMyArticles') }}
{% endblock %}